<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <!--<preference for="Magento\Customer\Block\Widget\Dob" type="Careshop\Customcustomer\Block\Widget\Dob" />-->
    <preference for="Magento\Customer\Controller\Account\ForgotPasswordPost" type="Careshop\Customcustomer\Controller\Account\ForgotPasswordPost" />

</config>
