<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Careshop_RokanBase::rokanbase" title="Careshop" module="Careshop_RokanBase" sortOrder="60" resource="Careshop_RokanBase::rokanbase"/>
        <add id="Careshop_RokanBase::rokanbase_setting" parent="Careshop_RokanBase::rokanbase" title="Careshop 2.3.2" module="Careshop_RokanBase" sortOrder="1" resource="Careshop_RokanBase::rokanbase_setting"/>
    </menu>
</config>
